
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Simple Amazing UI!</h1>
    <p>This is a template for a simple. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
   <div class="row">
    <div class="col-sm">
       <a href="/friends"
     role="button"
     class="btn btn-outline-primary btn-lg btn-block text-center">
    <span><i class="fa fa-facebook"></i></span>
    <br>Friends
  </a>
    </div>
    <div class="col-sm">
          <a href="/friends"
     role="button"
     class="btn btn-outline-primary btn-lg btn-block text-center">
    <span><i class="fa fa-linkedin"></i></span>
    <br>Friends
  </a>
    </div>
    <div class="col-sm">
           <a href="/friends"
     role="button"
     class="btn btn-outline-primary btn-lg btn-block text-center">
    <span><i class="fa fa-mobile"></i></span>
    <br>Friends
  </a>
    </div>
    <div class="col-sm">
          <a href="/friends"
     role="button"
     class="btn btn-outline-primary btn-lg btn-block text-center">
    <span><i class="fa fa-twitter"></i></span>
    <br>Friends
  </a>
    </div>
     <div class="col-sm">
          <a href="/friends"
     role="button"
     class="btn btn-outline-primary btn-lg btn-block text-center">
    <span><i class="fa fa-instagram"></i></span>
    <br>Friends
  </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
     <div class="card" style="width: 18rem;">
  <img width="200px" height="160px"  src="/assets/images/image4.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">python programming</h5>
    <p class="card-text">Some quick example text's content.</p>
    <a href="#" class="btn btn-primary">view python code</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img width="200px" height="160px"  src="/assets/images/image1.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">clean coding</h5>
    <p class="card-text">Some quick example text's content.</p>
    <a href="#" class="btn btn-primary">View codes</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img width="200px" height="160px"  src="/assets/images/image2.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">motivation</h5>
    <p class="card-text">Some quick example text's content.</p>
    <a href="#" class="btn btn-primary">View motivation</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img width="200px" height="160px"  src="/assets/images/image3.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">code</h5>
    <p class="card-text">Some quick example text's content.</p>
    <a href="#" class="btn btn-primary">View codes</a>
  </div>
</div>
    </div>
  </div>
 </div>